In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import primary CDC data

In [8]:
data = Path('data/PLACES__County.csv')
county_df = pd.read_csv(data)
county_df.head(5)

,StateAbbr,StateDesc,CountyName,CountyFIPS,TotalPopulation,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ACCESS2_AdjPrev,ACCESS2_Adj95CI,ARTHRITIS_CrudePrev,...,SLEEP_Adj95CI,STROKE_CrudePrev,STROKE_Crude95CI,STROKE_AdjPrev,STROKE_Adj95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,TEETHLOST_AdjPrev,TEETHLOST_Adj95CI,Geolocation
0,NJ,New Jersey,Warren,34041,105267,NaN,NaN,NaN,NaN,NaN,...,"(36.5, 39.8)",NaN,NaN,NaN,NaN,11.4,"( 6.8, 16.8)",11.5,"( 6.9, 17.0)",POINT (-74.9967165 40.85716301)
1,OK,Oklahoma,Jackson,40065,24530,24.0,"(21.0, 27.1)",24.2,"(21.2, 27.3)",23.5,...,"(36.4, 39.0)",3.4,"( 3.1, 3.7)",3.3,"( 3.0, 3.6)",18.6,"(12.7, 25.4)",18.8,"(12.8, 25.5)",POINT (-99.41467445 34.58811786)
2,IL,Illinois,Lawrence,17101,15678,18.6,"(16.0, 21.6)",18.9,"(16.4, 21.9)",27.9,...,"(35.4, 38.3)",3.8,"( 3.4, 4.3)",3.4,"( 3.1, 3.8)",17.1,"(11.4, 23.9)",17.2,"(11.5, 24.1)",POINT (-87.72684251 38.7203392)
3,KS,Kansas,Barton,20009,25779,19.6,"(17.1, 22.2)",20.5,"(17.7, 23.3)",27.7,...,"(32.8, 35.6)",3.8,"( 3.4, 4.2)",3.1,"( 2.8, 3.4)",17.1,"(11.3, 23.5)",17.2,"(11.4, 23.3)",POINT (-98.75632156 38.478934)
4,AK,Alaska,Anchorage,2020,288000,13.6,"(12.0, 15.5)",13.6,"(12.0, 15.5)",19.3,...,"(33.2, 35.5)",2.6,"( 2.4, 2.8)",2.7,"( 2.5, 3.0)",11.7,"( 8.3, 16.0)",12.2,"( 8.6, 16.8)",POINT (-149.1141071 61.1504589)

## Data pre-processing

In [9]:
#drop confidence interval columns
county_pop_df = county_df.filter(['StateDesc', 'CountyName', 'CountyFIPS', 'TotalPopulation', 'ACCESS2_CrudePrev'
                                  'ACCESS2_AdjPrev', 'ARTHRITIS_CrudePrev', 'ARTHRITIS_AdjPrev', 'BINGE_CrudePrev',
                                  'BINGE_AdjPrev', 'BPHIGH_CrudePrev', 'BPHIGH_AdjPrev', 'BPMED_CrudePrev', 'BPMED_AdjPrev',
                                  'CANCER_CrudePrev', 'CANCER_AdjPrev', 'CASTHMA_CrudePrev', 'CASTHMA_AdjPrev', 'CERVICAL_CrudePrev',
                                  'CERVICAL_AdjPrev',  'CHD_CrudePrev', 'CHD_AdjPrev', 'CHECKUP_CrudePrev', 'CHECKUP_AdjPrev', 
                                  'CHOLSCREEN_CrudePrev', 'CHOLSCREEN_AdjPrev', 'COLON_SCREEN_CrudePrev', 'COLON_SCREEN_AdjPrev',
                                  'COPD_CrudePrev','COPD_AdjPrev', 'COREM_CrudePrev', 'COREM_AdjPrev', 'COREW_CrudePrev', 'COREW_AdjPrev',
                                  'CSMOKING_CrudePrev', 'CSMOKING_AdjPrev', 'DENTAL_CrudePrev', 'DENTAL_AdjPrev', 'DEPRESSION_CrudePrev',
                                  'DEPRESSION_AdjPrev', 'DIABETES_CrudePrev', 'DIABETES_AdjPrev', 'GHLTH_CrudePrev', 'GHLTH_AdjPrev',
                                  'HIGHCHOL_CrudePrev', 'HIGHCHOL_AdjPrev', 'KIDNEY_CrudePrev', 'KIDNEY_AdjPrev', 'LPA_CrudePrev', 
                                  'LPA_AdjPrev', 'MAMMOUSE_CrudePrev', 'MAMMOUSE_AdjPrev', 'MHLTH_CrudePrev', 'MHLTH_AdjPrev', 
                                  'OBESITY_CrudePrev', 'OBESITY_AdjPrev', 'PHLTH_CrudePrev', 'PHLTH_AdjPrev', 'SLEEP_CrudePrev', 
                                  'SLEEP_AdjPrev', 'STROKE_CrudePrev', 'STROKE_AdjPrev', 'TEETHLOST_CrudePrev', 'TEETHLOST_AdjPrev',
                                  'Geolocation'], axis = 1)
county_pop_df.head(5)

,StateDesc,CountyName,CountyFIPS,TotalPopulation,ARTHRITIS_CrudePrev,ARTHRITIS_AdjPrev,BINGE_CrudePrev,BINGE_AdjPrev,BPHIGH_CrudePrev,BPHIGH_AdjPrev,...,OBESITY_AdjPrev,PHLTH_CrudePrev,PHLTH_AdjPrev,SLEEP_CrudePrev,SLEEP_AdjPrev,STROKE_CrudePrev,STROKE_AdjPrev,TEETHLOST_CrudePrev,TEETHLOST_AdjPrev,Geolocation
0,New Jersey,Warren,34041,105267,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,37.3,38.3,NaN,NaN,11.4,11.5,POINT (-74.9967165 40.85716301)
1,Oklahoma,Jackson,40065,24530,23.5,23.0,13.6,13.6,34.5,34.1,...,36.3,13.8,13.8,37.1,37.7,3.4,3.3,18.6,18.8,POINT (-99.41467445 34.58811786)
2,Illinois,Lawrence,17101,15678,27.9,25.6,20.4,21.5,35.4,33.3,...,38.8,14.5,13.9,36.1,36.8,3.8,3.4,17.1,17.2,POINT (-87.72684251 38.7203392)
3,Kansas,Barton,20009,25779,27.7,23.7,15.4,17.1,37.2,32.9,...,37.0,13.4,12.5,32.9,34.2,3.8,3.1,17.1,17.2,POINT (-98.75632156 38.478934)
4,Alaska,Anchorage,2020,288000,19.3,20.0,18.8,18.2,28.8,29.8,...,30.7,10.0,10.1,34.6,34.4,2.6,2.7,11.7,12.2,POINT (-149.1141071 61.1504589)

In [10]:
county_pop_df = county_pop_df.dropna()

In [11]:
# Create for-loop to iterate through 'total pop' ccolumn and define as 'Rural' or 'Urban'
rural_urban = []
for population in county_pop_df['TotalPopulation']:
    if population < 50000:
        rural_urban.append("Rural")
    if population >= 50000:
        rural_urban.append("Urban")

county_pop_df['RuralUrban'] = rural_urban

In [12]:
#county_pop_df.head(5)

,StateDesc,CountyName,CountyFIPS,TotalPopulation,ARTHRITIS_CrudePrev,ARTHRITIS_AdjPrev,BINGE_CrudePrev,BINGE_AdjPrev,BPHIGH_CrudePrev,BPHIGH_AdjPrev,...,PHLTH_CrudePrev,PHLTH_AdjPrev,SLEEP_CrudePrev,SLEEP_AdjPrev,STROKE_CrudePrev,STROKE_AdjPrev,TEETHLOST_CrudePrev,TEETHLOST_AdjPrev,Geolocation,RuralUrban
1,Oklahoma,Jackson,40065,24530,23.5,23.0,13.6,13.6,34.5,34.1,...,13.8,13.8,37.1,37.7,3.4,3.3,18.6,18.8,POINT (-99.41467445 34.58811786),Rural
2,Illinois,Lawrence,17101,15678,27.9,25.6,20.4,21.5,35.4,33.3,...,14.5,13.9,36.1,36.8,3.8,3.4,17.1,17.2,POINT (-87.72684251 38.7203392),Rural
3,Kansas,Barton,20009,25779,27.7,23.7,15.4,17.1,37.2,32.9,...,13.4,12.5,32.9,34.2,3.8,3.1,17.1,17.2,POINT (-98.75632156 38.478934),Rural
4,Alaska,Anchorage,2020,288000,19.3,20.0,18.8,18.2,28.8,29.8,...,10.0,10.1,34.6,34.4,2.6,2.7,11.7,12.2,POINT (-149.1141071 61.1504589),Urban
5,Oklahoma,Stephens,40137,43143,30.4,25.7,12.0,13.5,41.3,36.0,...,15.9,14.6,36.0,37.3,4.3,3.5,20.4,20.6,POINT (-97.85149263 34.485439),Rural

In [13]:
county_pop_df['RuralUrban'].value_counts()

Rural    2152
Urban     969
Name: RuralUrban, dtype: int64

In [28]:
#Write county_pop_df to CSV
#county_pop_df.to_csv('data/county_pop_df.csv', index=False)

# Import census county data for alternative Rural vs Urban classifier

In [14]:
data = Path('data/census_county_pop.csv')
census_df = pd.read_csv(data, skiprows=[1])
census_df.head(5)

,FIPS,Name of Area,Qualifying Name,Nation,State,County,Census Tract,Block Group,City,Metropolitan Statistical Area/Micropolitan Statistical Area,ZIP Code,Population Density,Population (1/1/2020),Total Population,"Population, Urban","Population, Rural"
0,1001,Autauga,"Autauga, Alabama",0,1,1,NaN,NaN,NaN,NaN,NaN,94.3,56059,56059,32635,23424
1,1003,Baldwin,"Baldwin, Alabama",0,1,3,NaN,NaN,NaN,NaN,NaN,141.8,225463,225463,129911,95552
2,1005,Barbour,"Barbour, Alabama",0,1,5,NaN,NaN,NaN,NaN,NaN,27.8,24575,24575,7921,16654
3,1007,Bibb,"Bibb, Alabama",0,1,7,NaN,NaN,NaN,NaN,NaN,36.0,22427,22427,7072,15355
4,1009,Blount,"Blount, Alabama",0,1,9,NaN,NaN,NaN,NaN,NaN,89.9,57997,57997,5806,52191

## Data pre-processing

In [15]:
#drop empty columns interval columns
census_df = census_df.filter(['FIPS', 'Name of Area', 'Qualifying Name', 'Population Density',
                              'Total Population', 'Population, Urban', 'Population, Rural'], axis = 1)
census_df.head(5)

,FIPS,Name of Area,Qualifying Name,Population Density,Total Population,"Population, Urban","Population, Rural"
0,1001,Autauga,"Autauga, Alabama",94.3,56059,32635,23424
1,1003,Baldwin,"Baldwin, Alabama",141.8,225463,129911,95552
2,1005,Barbour,"Barbour, Alabama",27.8,24575,7921,16654
3,1007,Bibb,"Bibb, Alabama",36.0,22427,7072,15355
4,1009,Blount,"Blount, Alabama",89.9,57997,5806,52191

In [ ]:
## . change name to remove spaces

In [30]:
#create a new column the classifies countries as Rural or Urban based on population density
#create a list of conditions
conditions = [(census_df['Population Density']<=500),(census_df['Population Density'] >500)]

#create the list of values to assign for each condition
values = ['Rural', 'Urban']

#create new column and use np.select to assign values
census_df['ruralUrban'] = np.select(conditions, values)

census_df.head(5)

,FIPS,Name of Area,Qualifying Name,Population Density,Total Population,"Population, Urban","Population, Rural",ruralUrban
0,1001,Autauga,"Autauga, Alabama",94.3,56059,32635,23424,Rural
1,1003,Baldwin,"Baldwin, Alabama",141.8,225463,129911,95552,Rural
2,1005,Barbour,"Barbour, Alabama",27.8,24575,7921,16654,Rural
3,1007,Bibb,"Bibb, Alabama",36.0,22427,7072,15355,Rural
4,1009,Blount,"Blount, Alabama",89.9,57997,5806,52191,Rural

In [31]:
#display number of rural vs urban counties
census_df['ruralUrban'].value_counts()

Rural    2873
Urban     269
Name: ruralUrban, dtype: int64

In [32]:
#create a new column to cofirm population denisty classifier using total population
#create a list of conditions
new_conditions = [
    (census_df['Total Population']<50000),
    (census_df['Total Population'] >=50000)
]

#create the list of values to assign for each condition
new_values = ['Rural', 'Urban']

#create new column and use np.select to assign values
census_df['ruralUrban_byPop'] = np.select(conditions, values)

census_df['ruralUrban_byPop'].value_counts()

Rural    2873
Urban     269
Name: ruralUrban_byPop, dtype: int64

In [33]:
census_df.to_csv('census_county_df.csv', index=False)